@font-face {
    font-family: 'FiraSans-Medium';
    src: url("fonts/FiraSans-Medium.ttf");   
}
@font-face {
    font-family: 'Prompt-Bold';
    src: url("fonts/Prompt-Bold.ttf");   
}
@font-face {
    font-family: 'Prompt-Regular';
    src: url("fonts/Prompt-Regular.ttf");   
}
.bold{
    font-family: 'Prompt-Bold';
}
.regular{
    font-family: 'Prompt-Regular';
}
.medium{
    font-family: 'FiraSans-Medium';
}
#menu{
    display: none;
}
body{
    background-color: #000000;
    color: #fff;
}
input, label{
    font-family: 'Prompt-Regular';
    color: #000000;
}
.navbar{
    background-color: #000000;
    color: #fff;
}
#logo-header{
    max-width: 200px;
}
.navbar-toggler-icon{
    color: #fff;
}
/*BOTONES*/
#btn-menu{
    max-width: 100px;
    margin-top: -20px;
}
#btn-contacto{
    border-color: #fff;
    color: white;
    border: 1px solid #fff;
    border-radius: 4px;
    font-family: 'Prompt-Regular';
    width: 200px;
    cursor: pointer;
}
#btn-contacto a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#btn-contacto:hover{
    background-color: #fff;
    border-color: #fff;
    color: #000000;
}
#btn-contacto a:hover{
    color: #000000;
}
.btn-menu{
    background: none;
    border-color: transparent;
    cursor: pointer;
}
.btn-menu:hover{
    background: none;
    border-color: transparent;
}
.btn-conoce{
    background: none;
    color: #fff;
    border-radius: 0;
    margin-top: 100px;
    font-family: 'Prompt-Bold';
    cursor: pointer;
}
.btn-conoce a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.btn-conoce:hover{
    background: none;
    color: #fff;
}
.btn-ver-mas{
    background: none;
    color: #fff;
    border-radius: 0;
    margin-top: 100px;
    width: 200px;
    font-family: 'Prompt-Bold';
    cursor: pointer;
}
.btn-ver-mas a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.btn-ver-mas:hover{
    background: none;
    color: #fff;
}
.btn-enviar{
    background: none;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: 'Prompt-Bold';
    cursor: pointer;
}
.btn-cerrar{
    max-width: 35px;
    cursor: pointer;
}
.btn-cerrar:hover{
    opacity: 0.5;
}
.ver-mas-portafolio{
    background: none;
    color: #fff;
    border-radius: 0;
    font-family: 'Prompt-Bold';
    cursor: pointer;
}
.ver-mas-portafolio a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.ver-mas-portafolio:hover{
    background: none;
    color: #fff;
}
/*TERMINAN BOTONES*/
/*VIDEOS EN HEADER*/
.video-index{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 25rem;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
}
.video-index video{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.video-branding{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 25rem;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
}
.video-branding video{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
}
/*TERMINA VIDEOS EN HEADER*/
/*SECCIÓN SOMOS INDEX*/
.tit-somos{
    position: relative;
    padding-left: 180px;
    margin-top: 10px;
    z-index: 1;
    font-family: 'Prompt-Bold';
}
.video-somos{
    position: relative;
    width: 90%;
}
.video-somos video{
    width: 60%;
    height: auto;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
}
/*SECCIÓN DE SERVICIOS INDEX*/
.v-bran-in{
    width: 90%;
}
.v-bran-in video{
    width: 60%;
    height: auto;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
}
.b_serv{
    width: 30%;
    height: 30%;
}
.brandig_hr{
    width: 175px;
    height: 0px;
    border: 3px solid #ffffff;
}
/*SECCIÓN CLIENTES INDEX*/
.cl-imag{
    width: 260px;
}
/*TERMINA SECCIÓN DE SERVICIOS INDEX*/
/*FORMULARIO*/
#contacto-form h1{
    color: #fff;
    font-size: 4.5rem;
}
#contacto-form{
    margin-top: 160px;
}
#mensaje-agradecimiento{
    color: white;
    display: none;
}
#mensaje-agradecimiento a{
    color: white;
}
#mensaje-agradecimiento h1{
    background: -webkit-linear-gradient(79.33deg,#810CCE 19.6%,#EE1796 80.4%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 6.5rem;
}
.form-contacto{
    background-color: #fff;
    padding: 40px 30px;
    max-width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.borde-bottom{
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
}
/*TERMINA FORMULARIO*/
/*FOOTER*/
footer{
    background-color: #000000;
    color: #fff;
    padding: 0rem 0rem 5rem 0rem;
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer a:hover{
    color: #fff;
}
/*TERMINA FOOTER*/
/*MENU*/
.menu{
    color: #fff;
}
.menu a{
    text-decoration: none;
    color: #fff;
}
.menu-pt1{
    margin-top: 320px;
}
/*ANIMACIÓN MENU*/
:root {
    --body-bg-color: #1a1c1d;
    --text-color: #aaaebc;
    --hr-color: #26292a;
    --red: #e74c3c;
}
hr {
    border-color: var(--hr-color);
    margin: 20px 0;
}
.menu-gde a {
    position: relative;
    display: block;
}
.menu-gde a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, 	#fffff2, 	#f9f9f9, #ffff);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
} 
.menu-gde a:hover::before {
    transform: scaleX(1);
}
.menu-gde[data-animation="to-right"] a::before {
    transform-origin: right;
}
/*TERMINA ANIMACIÓN MENU*/
/*TERMINA MENU*/
/*FONDOS DE COLORES*/
.bg-morado{
    border-radius: 10px;
    background: #810cce;
    background: linear-gradient(90deg,#810cce 0%,#ee1796 100%);
    padding-bottom: 50px;
}
.bg-amarillo{
    background: linear-gradient(233.74deg,#FDCF07 .81%,#EE1796 100%);
    border-radius: 19px;
}
.bg-verde{
    position: relative;
    top: 20px;
    background: linear-gradient(79.33deg,#1B9235 -1.56%,#F0E712 101.4%);
    border-radius: 19px;
    padding-bottom: 50px;
}
.bg-azul{
    border-radius: 19px;
    background: linear-gradient(79.33deg,#0775CC -1.56%,#02EBBB 101.4%);
    padding-bottom: 80px;
}
.bg-azul-fuerte{
    border-radius: 19px;
    background: linear-gradient(79.33deg,#053D65 -1.56%,#39C2FC 101.4%);
    padding-bottom: 50px; 
}
.bg-bco{
    background-color: #fff;
    color: #000000;
}
/*TERMINA FONDOS DE COLORES*/
/*PORTAFOLIO*/
.portafolio{
 padding-top: 7rem;
}
.efecto{
    opacity: 0.5;
}
.efecto a:hover{
    opacity: 1;
}
.efecto button{
    display: none;
}
.efecto:hover button{
    display: flex;
}
.efecto:hover{
    opacity: 1;
}
.portafolio_product-video_reel{
    cursor: pointer;
}
.portafolio_product-video{
    max-width: 100%;
    min-width: 100%;
}
.portafolio_product-video_reel video{
    -webkit-filter: brightness(45%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
/*TERMINA PORTAFOLIO*/
/*DESARROLLO WEB*/
.video-fluid{
    max-width: 100%;
    height: auto;
}
.icono-cuadro-color{
    max-width: 100px;
}
.icono-hosting{
    margin-right: 15px; 
    float: left;
}
/*TERMINA DESARROLLO WEB*/
/*PROYECTOS DE BLUEBERRY*/
/*CIRCO DRAGÓN*/
.proyect-1-content-pic{
    display: block;
    width: 100%;
    height: auto;
    min-height: 100px;
    background-size: 100% 100%;
}
/*TERMINA CIRCO DRAGÓN*/
/*SNG*/
.proyect2-content{
    display: block;
    width: 100%;
    height: auto;
    min-height: 100px;
    background-size: 100% 100%;
}
/*TERMINA SNG*/
/*TERMINA PROYECTOS DE BLUEBERRY*/
/*SOMOS*/
.section_somos{
    padding-top: 110px;
}
.section_somos_div{
    padding-right: 1rem!important;
    padding-left: 1rem!important;
    padding-top: 24px;
    position: relative;
}
.section_somos_video{
    padding: 0;
    order: 1;
}
.section_somos video{
    max-width: 100px;
}
.somos-icono{
    width: 105px;
}
.somos_hacer hr{
    margin-top: 44px;
    margin-bottom: 40px;
    width: 96.31px;
    height: 0px;
    border: 2px solid #FFFFFF;
}
.video_somos_loop{
    max-width: 100%;
    min-width: 100%;
}
/*TERMINA SOMOS*/
/*AUDIOVISUAL*/
.audiovisual-reel-pic{
    display: block;
    width: 100%;
    height: auto;
    min-height: 100px;
    background-size: 100% 100%;
}
.audiovisual_reel_overlay-image{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.audiovisual_reel_overlay-image-play{
    color: #000;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    top: -50%;
    left: 45%;
}
.contenedor-modal{
    border: 1px solid #000000;
    border-radius: 5px;
}
.audiovisual__videos__col {
    margin-bottom: 3.5rem;
    text-align: center;
}
.audiovisual__videos__col_divimg {
    display: flex;
    justify-content: center;
}
.audiovisual__videos__col--overlay-image {
    position: absolute;
    height: 100%;
    widows: 100%;
    background-color: transparent;
}
.audiovisual_videos_col_pic{
    display: block;
    width: 100%;
    height: auto;
    min-height: 100px;
    background-size: 100% 100%;
}
.audiovisual__videos__col_divimg img {
    max-width: 320px;
}
.audiovisual_videos_col_overlay-image-play{
    cursor: pointer;
    z-index: 2;
    left: 240px;
    position: relative;
    top: -40%;
}.tit-secciones{
    margin-top: 110px;
}
/* TERMINA AUDIOVISUAL*/
/*RESPONSIVO*/
@media(max-width:400px){
    .menu-pt1{
        margin-top: 0;
    }
    .menu-gde h1{
        font-size: 2rem;
    }
    .audiovisual_reel_overlay-image{
        width: 70px;
    }
    .audiovisual_reel_overlay-image-play{
        top: -135px;
        left: 150px;
    }
    .audiovisual__videos__col--overlay-image{
        width: 80px;
    }
    .audiovisual_videos_col_overlay-image-play{
        cursor: pointer;
        z-index: 2;
        left: 140px;
        position: relative;
        top: -190px;
    }
}
@media(max-width:700px){
    .menu-pt1{
        margin-top: 0;
    }
    .menu-gde h1{
        font-size: 2rem;
    }
    .audiovisual_reel_overlay-image{
        width: 70px;
    }
    .audiovisual_reel_overlay-image-play{
        top: -135px;
        left: 150px;
    }
    .audiovisual__videos__col--overlay-image{
        width: 80px;
    }
    .audiovisual_videos_col_overlay-image-play{
        cursor: pointer;
        z-index: 2;
        left: 140px;
        position: relative;
        top: -190px;
    }
}
/*TERMINA RESPONSIVO*/